# Environment variables example file

# ------ Database ------
DATABASE_URL_DEV=
DATABASE_URL_PROD=

# ------ Authentication ------
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# ------ OAuth Providers ------
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_ONE_TAP_CLIENT_ID=

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

# ------ Email Service ------
RESEND_API_KEY=
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=
EMAIL_WAITLIST_SENDER_ADDRESS=


# Headless CMS
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=